.contact-section {
  padding: 80px 8%;
}

.contact-container {
  max-width: 1300px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  background: var(--surface);
  padding: 50px;

  border-radius: var(--radius);

  box-shadow: var(--shadow-md);
}


.contact-info h2 {

  font-size: 38px;
  color: var(--title);

  margin-bottom: 20px;

}


.contact-info p {

  font-size: 18px;
  line-height: 1.8;

  color: var(--text);

  margin-bottom: 30px;

}


.contact-email {

  padding: 25px;

  background:#fff8fb;

  border-radius:20px;

  color:var(--title);

}


.contact-form {

  display:flex;

  flex-direction:column;

  gap:18px;

}


.contact-form input,
.contact-form textarea {

  width:100%;

  padding:16px 20px;

  border-radius:18px;

  border:1px solid var(--border);

  background:#fffaf7;

  font-size:16px;

  font-family:inherit;

  outline:none;

  transition:.3s;

}


.contact-form input:focus,
.contact-form textarea:focus {

  border-color:var(--primary);

}


.contact-button {

  padding:17px;

  border-radius:50px;

  background:var(--gradient);

  color:white;

  font-size:17px;

  font-weight:600;

  transition:.3s;

}


.contact-button:hover {

  transform:translateY(-3px);

  box-shadow:var(--shadow-md);

}


.contact-message {

  margin-top:20px;

  text-align:center;

  color:var(--title);

  font-weight:600;

}


@media(max-width:900px){

.contact-container{

grid-template-columns:1fr;

padding:30px;

}

}